.subscribe {
  background: var(--black-100);
  padding: 40px 0;
  &__container {
    max-width: 894px;
    margin-right: auto;
    margin-left: auto;
  }
  &__title {
    margin-bottom: 21px;
  }
  &__content {
    display: grid;
    grid-template-columns: calc(50% + 11px) calc(50% - 11px);
  }
  &__text {
    max-width: 217px;
    margin: 0 auto;
  }
  &__row {
    display: flex;
    margin-bottom: 17px;
  }
  &__input {
    display: block;
    flex: 1;
    padding: 0 12px;
    border: none;
    background: var(--white-on-grey-bg);
    &::placeholder {
      color: var(--black-600);
    }
  }
  &__btn {
    margin-left: 8px;
    padding: 7px 23px;
  }
  &__privacy {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: var(--black-700);
    a {
      color: var(--black-primary);
    }
  }
}
