.about {
  max-width: 894px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 215px;
  &__container {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 11px));
    grid-gap: 22px;
  }
  &__col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__picture {
    display: block;
    flex: 1;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__text {
    margin-bottom: 22px;
    max-width: 217px;
    font-size: 14px;
    line-height: 20px;
    color: var(--black-900);
  }
}
