.banner {
  position: relative;
  &__img {
    width: 100%;
    height: 720px;
    object-fit: cover;
    @include w1023 {
      height: 768px;
    }
    @include w767 {
      height: 640px;
    }
  }
  &__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 14px 32px;
    background: var(--black-100);
    border-radius: 2px;
    font-size: 20px;
    line-height: 28px;
    white-space: nowrap;
    border: 1px solid transparent;
    transition: 0.2s;
    @include w767 {
      padding: 8px 24px;
      font-size: 17px;
      line-height: 24px;
    }
    @include hover {
      &:hover {
        background: var(--white-blurred);
        border-color: var(--black-100);
      }
      &:focus {
        background: var(--white-text-on-black);
        border-color: var(--black-100);
      }
    }
    @include active {
      &:active {
        background: var(--white-text-on-black);
        border-color: var(--black-100);
      }
    }
  }
}
