.good 
  .good__wrap
    a.good__link(href="#") 
      picture
        source(type="image/webp" srcset="images/good.jpg")
        img.good__img(src="images/good.jpg" alt="Бра «Спорт»")
    ul.good__tags
      li.good__tag новое
    button.good__fav(good__fav--active)
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M21 9.21086C21 10.5855 20.4656 11.9059 19.5112 12.8825C17.3144 15.1316 15.1837 17.4767 12.9048 19.6442C12.3824 20.1338 11.5537 20.1159 11.0539 19.6042L4.48838 12.8825C2.50387 10.8508 2.50387 7.57087 4.48838 5.53918C6.4924 3.48751 9.75715 3.48751 11.7612 5.53918L11.9998 5.78348L12.2383 5.53931C13.1992 4.55511 14.5078 4 15.8748 4C17.2418 4 18.5503 4.55506 19.5112 5.53918C20.4657 6.51595 21 7.83624 21 9.21086Z" stroke="#1E1E1E" stroke-linejoin="round"/>
      </svg>
    button.good__show
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.0003 8.33335C12.1844 8.33335 12.3337 8.18412 12.3337 8.00002C12.3337 7.81593 12.1844 7.66669 12.0003 7.66669C11.8162 7.66669 11.667 7.81593 11.667 8.00002C11.667 8.18412 11.8162 8.33335 12.0003 8.33335Z" fill="#1E1E1E" stroke="#1E1E1E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M8.00033 8.33335C8.18442 8.33335 8.33366 8.18412 8.33366 8.00002C8.33366 7.81593 8.18442 7.66669 8.00033 7.66669C7.81623 7.66669 7.66699 7.81593 7.66699 8.00002C7.66699 8.18412 7.81623 8.33335 8.00033 8.33335Z" fill="#1E1E1E" stroke="#1E1E1E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M4.00033 8.33335C4.18442 8.33335 4.33366 8.18412 4.33366 8.00002C4.33366 7.81593 4.18442 7.66669 4.00033 7.66669C3.81623 7.66669 3.66699 7.81593 3.66699 8.00002C3.66699 8.18412 3.81623 8.33335 4.00033 8.33335Z" fill="#1E1E1E" stroke="#1E1E1E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    .good__hide.good-hide
      .good-hide__wrapper
        .swiper-button-prev
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.1088 6.22475C12.3528 6.46882 12.3528 6.86455 12.1088 7.10863L9.21738 10L12.1088 12.8914C12.3528 13.1355 12.3528 13.5312 12.1088 13.7753C11.8647 14.0194 11.469 14.0194 11.2249 13.7753L7.89155 10.442C7.64748 10.1979 7.64748 9.80216 7.89155 9.55808L11.2249 6.22475C11.469 5.98067 11.8647 5.98067 12.1088 6.22475Z"/>
          </svg>
        .good-hide__slider.swiper-container
          ul.good-hide__sizes.swiper-wrapper 
            li.good-hide__size.swiper-slide
              label
                input.visually-hidden(type="radio" name="sizes" checked)
                span xs
            li.good-hide__size.swiper-slide
              label
                input.visually-hidden(type="radio" name="sizes")
                span s
            li.good-hide__size.swiper-slide
              label
                input.visually-hidden(type="radio" name="sizes")
                span m
            li.good-hide__size.swiper-slide
              label
                input.visually-hidden(type="radio" name="sizes")
                span l
            li.good-hide__size.swiper-slide
              label
                input.visually-hidden(type="radio" name="sizes")
                span xl
            li.good-hide__size.swiper-slide
              label
                input.visually-hidden(type="radio" name="sizes")
                span xxl
        .swiper-button-next
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.89123 6.22475C7.64715 6.46882 7.64715 6.86455 7.89123 7.10863L10.7826 10L7.89123 12.8914C7.64715 13.1355 7.64715 13.5312 7.89123 13.7753C8.13531 14.0194 8.53104 14.0194 8.77511 13.7753L12.1084 10.442C12.3525 10.1979 12.3525 9.80216 12.1084 9.55808L8.77511 6.22475C8.53104 5.98067 8.13531 5.98067 7.89123 6.22475Z"/>
          </svg>
      button.good-hide__buy
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.5001 14C12.9972 14 13.4001 13.5971 13.4001 13.1C13.4001 12.603 12.9972 12.2 12.5001 12.2C12.003 12.2 11.6001 12.603 11.6001 13.1C11.6001 13.5971 12.003 14 12.5001 14Z" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M6.5001 14C6.99715 14 7.4001 13.5971 7.4001 13.1C7.4001 12.603 6.99715 12.2 6.5001 12.2C6.00304 12.2 5.6001 12.603 5.6001 13.1C5.6001 13.5971 6.00304 14 6.5001 14Z" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M3.8 3.2H14L12.8 9.8H5L3.8 3.2ZM3.8 3.2C3.7 2.8 3.2 2 2 2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M12.8 9.79999H5H5.13846C4.06788 9.79999 3.5 10.2687 3.5 11C3.5 11.7312 4.06788 12.2 5.13846 12.2H12.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      button.good-hide__call 
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M11.6681 5.84068C11.6681 4.82207 11.2887 3.84518 10.6135 3.12491C9.93825 2.40464 9.02241 2 8.06746 2C7.11251 2 6.19668 2.40464 5.52143 3.12491C4.84617 3.84518 4.46682 4.82207 4.46682 5.84068C4.46682 10.3215 2.6665 11.6017 2.6665 11.6017H13.4684C13.4684 11.6017 11.6681 10.3215 11.6681 5.84068Z" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M9.10566 13.402C9.00016 13.5839 8.84872 13.7349 8.66652 13.8398C8.48432 13.9448 8.27775 14 8.06748 14C7.85722 14 7.65064 13.9448 7.46844 13.8398C7.28624 13.7349 7.1348 13.5839 7.0293 13.402" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
  .good__info 
    h3.good__title Бра «Спорт»
    .good__row 
      span.good__price 5 000 руб.
      ul.good__colors.good-colors
        li.good-colors__item
          label
            input.visually-hidden(type="radio" name="colors" checked)
            span(style="background-color: #576BD4;")
        li.good-colors__item
          label
            input.visually-hidden(type="radio" name="colors")
            span(style="background-color: #E18956;")
        li.good-colors__item
          label
            input.visually-hidden(type="radio" name="colors")
            span(style="background-color: #7EC270;")
