.table#table(style="display: none")
  h3.table__title Таблица размеров
  p.table__text Общая таблица размеров показывает нашу стандартную размерную линейку.
  img.table__img(src="images/table.jpg" alt="Таблица размеров")
  table.table__table
    thead
      tr
        td
        td XS
        td S
        td M
        td L
        td XL
    tbody
      tr
        td <b>A</b> Длина изделия по спинке
        td 64
        td 68
        td 72
        td 75
        td 76
      tr
        td <b>B</b> Длина рукава
        td 57
        td 62
        td 64
        td 67
        td 69
      tr
        td <b>C</b> Ширина изделия под проймой
        td 78
        td 82
        td 84
        td 87
        td 88
      tr
        td <b>D</b> Длина изделия
        td 100
        td 105
        td 107
        td 108
        td 110
      tr
        td <b>E</b> Ширина изделия по линии талии
        td 34
        td 36
        td 38
        td 40
        td 42       