section.subscribe
  .container.subscribe__container
    h2.h2title.subscribe__title Подпишитесь на новости магазина
    .subscribe__content
      .subscribe__col
        p.subscribe__text Узнавайте первыми о закрытых распродажах и новых поступлениях
      form.subscribe__form
        .subscribe__row
          input.subscribe__input(type="text" placeholder="Ваш e-mail" data-type="email" data-required)
          button.primary-btn.subscribe__btn(type="submit") Подписаться
        p.subscribe__privacy Подписываясь, вы соглашаетесь с 
          a(href="#") политикой конфиденциальности
