@import '~normalize.css';
@import 'variables/mixins';
@import 'variables/indents';
@import 'variables/fonts';

:root {
  --black-primary: #1e1e1e;
  --black-900: #383838;
  --black-800: #525252;
  --black-700: #6b6b6b;
  --black-600: #858585;
  --black-500: #9e9e9e;
  --black-400: #9e9e9e;
  --black-300: #b8b8b8;
  --black-200: #d1d1d1;
  --black-100: #ebebeb;
  --white-text-on-black: #f5f5f5;
  --white-on-grey-bg: #ffffff;
  --white-on-pic-bg: rgba(255, 255, 255, 0.94);
  --white-blurred: rgba(245, 245, 245, 0.7);
  --system-success: #00b33c;
  --sustem-alarm: #eb2525;
  --bg: #ffffff;
  --selection-color: rgba(30, 30, 30, 0.99);
  --img-selection-color: rgba(30, 30, 30, 0.5);
}

::selection {
  color: var(--white-text-on-black);
  background-color: var(--selection-color);
}

img::selection {
  background-color: var(--img-selection-color);
}

img::-moz-selection {
  background-color: var(--img-selection-color);
}

@media screen and (min-width: 1200px) {
  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-button {
    display: none;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--black-primary);
    border-radius: 2px;
  }
  ::-webkit-scrollbar-track {
    background: var(--bg);
  }
}

html.fixed {
  overflow: hidden;
}

html.compensate-for-scrollbar {
  margin-right: 4px;
  @-moz-document url-prefix() {
    margin-right: 17px;
  }
}

html {
  background-color: var(--bg);
}

body {
  font-family: 'Golos', sans-serif;
  color: var(--black-primary);
  font-size: 17px;
  line-height: 24px;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  transition: opacity 0.2s;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

.content {
  position: relative;
  z-index: 0;
  flex: 1;
}

.container {
  width: 100%;
  max-width: 1328px;
  margin: 0 auto;
  padding: $padding-container;
  @include w767 {
    padding: $mobile-padding-container;
  }
}

.margin-section {
  margin-bottom: $margin-section;
  @include w1200 {
    margin-bottom: $tablet-margin-section;
  }
  @include w767 {
    margin-bottom: $mobile-margin-section;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

ul,
ol {
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 24px;
  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

b {
  font-weight: 500;
}

img {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.h1title {
  font-family: 'Giga Sans';
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  letter-spacing: -0.04em;
  @include w1023 {
    font-size: 35px;
    line-height: 40px;
    letter-spacing: -0.03em;
  }
  @include w767 {
    font-size: 29px;
    line-height: 36px;
    letter-spacing: -0.02em;
  }
}

.h2title {
  font-family: 'Giga Sans';
  margin: 0;
  font-weight: 500;
  font-size: 35px;
  line-height: 40px;
  letter-spacing: -0.03em;
  @include w767 {
    font-size: 29px;
    line-height: 36px;
    letter-spacing: -0.02em;
  }
}

.primary-btn {
  display: inline-block;
  border: 1px solid var(--black-primary);
  border-radius: 2px;
  text-align: center;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  cursor: pointer;
  background: var(--black-primary);
  color: var(--white-text-on-black);
  transition: 0.2s;
  @include hover {
    &:hover,
    &:focus {
      background: var(--black-900);
      border-color: var(--black-900);
    }
  }
  @include active {
    &:active {
      background: var(--black-900);
      border-color: var(--black-900);
    }
  }
}

.secondary-btn {
  display: inline-block;
  border: 1px solid var(--black-primary);
  border-radius: 2px;
  text-align: center;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  cursor: pointer;
  background: var(--bg);
  color: var(--black-primary);
  transition: 0.2s;
  @include hover {
    &:hover,
    &:focus {
      color: var(--white-text-on-black);
      background: var(--black-primary);
    }
  }
  @include active {
    &:active {
      color: var(--white-text-on-black);
      background: var(--black-primary);
    }
  }
}

.page-top {
  display: flex;
  margin-bottom: 22px;
  padding-bottom: 39px;
  border-bottom: 1px solid var(--black-100);
  @include w1200 {
    flex-direction: column-reverse;
  }
  @include w767 {
    margin-bottom: 16px;
    padding-bottom: 31px;
  }
  &__title {
    &:not(:first-child) {
      @include w1200 {
        margin-bottom: 24px;
      }
      @include w767 {
        margin-bottom: 17px;
      }
    }
  }
  &__text {
    max-width: 280px;
    margin: 12px auto 0;
    font-size: 14px;
    line-height: 20px;
    color: var(--black-800);
    @include w1200 {
      max-width: 325px;
      margin: 0;
      margin-left: 17.22%;
    }
    @include w767 {
      max-width: none;
      margin-left: 0;
    }
    p {
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        white-space: nowrap;
        @include hover {
          &:hover,
          &:focus {
            text-decoration: underline;
          }
        }
        @include active {
          &:active {
            text-decoration: underline;
          }
        }
      }
    }
    & + .page-top__title {
      position: absolute;
      @include w1200 {
        position: static;
      }
    }
  }
  &__btn {
    padding: 5px 11px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.01em;
    @include w767 {
      width: 100%;
      padding: 5px 0;
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.select {
  &--active {
    .select-content {
      opacity: 1;
      visibility: visible;
      transform: none;
      transition: opacity 0.3s, transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1), visibility 0s 0s;
    }
  }
  &-open {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
  }
  &-content {
    opacity: 0;
    visibility: hidden;
    transform: translateY(6px);
    transition: opacity 0.3s, transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1), visibility 0s 0.3s;
  }
}

.swiper {
  &-pagination {
    &.swiper-pagination-bullets {
      bottom: 14px;
    }
    &-bullet {
      background: var(--white-on-pic-bg);
      opacity: 1;
      &-active {
        background: var(--black-900);
      }
    }
  }
}

.input-block {
  position: relative;
  input {
    &:not(:placeholder-shown) ~ .clear {
      display: flex;
    }
  }
  .clear {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    transition: opacity 0.2s;
    @include hover {
      &:hover,
      &:focus {
        opacity: 0.6;
      }
    }
    @include active {
      &:active {
        opacity: 0.6;
      }
    }
  }
}

.fancybox {
  &__backdrop {
    background: #1e1e1e !important;
    opacity: 0.37 !important;
  }
  &__slide {
    @include w1023 {
      padding: 16px 0;
    }
  }
}

.accordion {
  &--active {
    .accordion__open:before {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  }
  &__open {
    position: absolute;
    right: 0;
    top: 0;
    padding: 16px;
    background: none;
    border: none;
    cursor: pointer;
    @include hover {
      &:hover,
      &:focus {
        &:before,
        &:after {
          background-color: var(--black-500);
        }
      }
    }
    @include active {
      &:active {
        &:before,
        &:after {
          background-color: var(--black-500);
        }
      }
    }
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 12px;
      height: 1px;
      background-color: var(--black-primary);
      transition: background-color 0.2s;
    }
    &:before {
      transform: translate(-50%, -50%) rotate(-90deg);
      transition: transform 0.2s;
    }
  }
  &__text {
    overflow: hidden;
    transition: height 0.3s ease;
  }
}

@import 'blocks/common/header';
@import 'blocks/common/footer';
@import 'blocks/common/goods-slider';
@import 'blocks/common/good-card';
@import 'blocks/common/subscribe';
@import 'blocks/common/popups';
@import 'blocks/common/table';
@import 'blocks/mainpage/banner';
@import 'blocks/mainpage/collections';
@import 'blocks/mainpage/about';
@import 'blocks/otherpages/catalog';
@import 'blocks/otherpages/good';
@import 'blocks/otherpages/fav';
@import 'blocks/otherpages/cart';
@import 'blocks/otherpages/addresses';
@import 'blocks/otherpages/company';
@import 'blocks/otherpages/contacts';
@import 'blocks/otherpages/text';
