extends ../template

block variables
  - var title = 'Контакты'

block content
  section.text.margin-section
    .container 
      .page-top 
        .page-top__text 
          p Если у вас остались вопросы, позвоните нам на номер <a href="tel:88003502028"><b>+7 800 350–20–28</b></a> или напишите на <a href="mailto:info@levitacia.co"><b>info@levitacia.co</b></a>
        h1.h2title.page-top__title Контакты
      .text__wrap
        nav.text__nav.text-nav
          ul.text-nav__list
            li.text-nav__item 
              a.text-nav__link(href="#") Программа лояльности
            li.text-nav__item 
              a.text-nav__link(href="#") Оплата и возврат
            li.text-nav__item 
              a.text-nav__link(href="#") Доставка
            li.text-nav__item 
              a.text-nav__link.text-nav__link--active(href="#") Контакты
        .text__content
          .contacts__map
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae08583bc1cf09f8dfab02a1298e375401fb84803dc8a901c96d3d49e3b7bf804&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=false"></script>
          .contacts__row.contacts-row 
            h4.contacts-row__title Юридическая информация
            .contacts-row__col 
              .contacts__row
                span ООО
                span «РИВОЛТА»
              .contacts__row
                span ОГРН
                span 1177847330100
              .contacts__row
                span ИНН
                span 7804607944
              .contacts__row
                span КПП
                span 780201001
            p.contacts-row__text 194044, г. Санкт-Петербург, ул. Гельсингфорсская, д. 3, лит. Л, пом. Л–207
        .contacts__info.contacts-info
          p.contacts-info__title Приглашаем гостей по предварительной договоренности
          h3.contacts-info__subtitle Шоурум
          p.contacts-info__text 191124, г. Санкт-Петербург, Смольный проспект, дом 17
          h3.contacts-info__subtitle Контакты
          p.contacts-info__text 
            a(href="tel:88003502028") +7 800 350–20–28
            a(href="mailto:info@levitacia.co") info@levitacia.co
          ul.contacts-info__socials 
            li.contacts-info__social
              a(href="#") 
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M11.0592 14.2014C11.0592 14.2014 11.357 14.1689 11.5095 14.0081C11.6491 13.8608 11.6443 13.5827 11.6443 13.5827C11.6443 13.5827 11.6257 12.2843 12.2398 12.0926C12.8451 11.9041 13.6223 13.3482 14.447 13.9035C15.0701 14.3234 15.543 14.2315 15.543 14.2315L17.7469 14.2014C17.7469 14.2014 18.8993 14.1317 18.353 13.2421C18.3078 13.1692 18.0342 12.5838 16.7148 11.3813C15.3323 10.1225 15.5179 10.3261 17.182 8.14846C18.1956 6.82237 18.6007 6.01278 18.474 5.66661C18.3538 5.33548 17.6081 5.42341 17.6081 5.42341L15.1273 5.43846C15.1273 5.43846 14.9434 5.41391 14.807 5.49392C14.6738 5.57234 14.5875 5.75533 14.5875 5.75533C14.5875 5.75533 14.1952 6.78118 13.6715 7.65415C12.5667 9.49514 12.1253 9.59257 11.9445 9.4785C11.524 9.21154 11.6289 8.40749 11.6289 7.83634C11.6289 6.0516 11.9049 5.30776 11.0923 5.11526C10.8227 5.0511 10.6242 5.00911 9.93421 5.00198C9.04891 4.99327 8.3 5.00515 7.87551 5.20874C7.59305 5.3442 7.37516 5.6468 7.50832 5.66423C7.67214 5.68562 8.04337 5.76246 8.24028 6.02546C8.49449 6.3653 8.48561 7.12736 8.48561 7.12736C8.48561 7.12736 8.63168 9.22818 8.14424 9.4888C7.81014 9.66783 7.35175 9.30264 6.36639 7.63197C5.862 6.77643 5.48109 5.83059 5.48109 5.83059C5.48109 5.83059 5.40765 5.65393 5.27611 5.55887C5.11713 5.44401 4.8952 5.40836 4.8952 5.40836L2.53791 5.42341C2.53791 5.42341 2.18363 5.43292 2.0537 5.58422C1.93829 5.7181 2.04482 5.99615 2.04482 5.99615C2.04482 5.99615 3.89047 10.235 5.98064 12.3715C7.8973 14.3297 10.073 14.2014 10.073 14.2014H11.0592Z"/>
                </svg>
            li.contacts-info__social
              a(href="#") 
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.0007 7.50001C11.3813 7.50001 12.5007 8.61923 12.5007 10C12.5007 11.3806 11.3813 12.5 10.0007 12.5C8.61988 12.5 7.50066 11.3806 7.50066 10C7.50066 8.61923 8.61988 7.50001 10.0007 7.50001Z"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M6.90813 2.54531C7.70813 2.50891 7.96375 2.5 10.0006 2.5H9.99828C12.0358 2.5 12.2905 2.50891 13.0905 2.54531C13.8889 2.58188 14.4342 2.70828 14.9123 2.89375C15.4061 3.08516 15.8233 3.34141 16.2405 3.75859C16.6577 4.17547 16.9139 4.59391 17.1061 5.08719C17.2905 5.56406 17.417 6.10906 17.4545 6.9075C17.4905 7.7075 17.4998 7.96313 17.4998 10C17.4998 12.0369 17.4905 12.2919 17.4545 13.0919C17.417 13.89 17.2905 14.4352 17.1061 14.9122C16.9139 15.4053 16.6577 15.8237 16.2405 16.2406C15.8238 16.6578 15.4059 16.9147 14.9128 17.1062C14.4356 17.2917 13.89 17.4181 13.0916 17.4547C12.2916 17.4911 12.0367 17.5 9.99969 17.5C7.96297 17.5 7.7075 17.4911 6.9075 17.4547C6.10922 17.4181 5.56406 17.2917 5.08688 17.1062C4.59391 16.9147 4.17547 16.6578 3.75875 16.2406C3.34172 15.8237 3.08547 15.4053 2.89375 14.912C2.70844 14.4352 2.58203 13.8902 2.54531 13.0917C2.50906 12.2917 2.5 12.0369 2.5 10C2.5 7.96313 2.50937 7.70734 2.54516 6.90734C2.58109 6.10922 2.70766 5.56406 2.89359 5.08703C3.08578 4.59391 3.34203 4.17547 3.75922 3.75859C4.17609 3.34156 4.59453 3.08531 5.08781 2.89375C5.56469 2.70828 6.10969 2.58188 6.90813 2.54531ZM10.0006 6.14844C7.87359 6.14844 6.14905 7.87297 6.14905 10C6.14905 12.127 7.87359 13.8508 10.0006 13.8508C12.1276 13.8508 13.8516 12.127 13.8516 10C13.8516 7.87297 12.1276 6.14844 10.0006 6.14844ZM12.5007 10C12.5007 8.61923 11.3813 7.50001 10.0007 7.50001C8.61988 7.50001 7.50066 8.61923 7.50066 10C7.50066 11.3806 8.61988 12.5 10.0007 12.5C11.3813 12.5 12.5007 11.3806 12.5007 10ZM13.1041 5.99656C13.1041 5.49953 13.5072 5.09687 14.0041 5.09687C14.5009 5.09687 14.9041 5.49968 14.9041 5.99656C14.9041 6.49343 14.5009 6.89656 14.0041 6.89656C13.5072 6.89656 13.1041 6.49343 13.1041 5.99656Z"/>
                </svg>
            li.contacts-info__social
              a(href="#") 
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M6.30832 15.1256L3.86487 15.7635L4.51707 13.3925L4.36357 13.1495C3.71732 12.1265 3.376 10.9442 3.3765 9.73015C3.37791 6.18767 6.27406 3.30564 9.83513 3.30564C11.5595 3.30623 13.1805 3.97538 14.3994 5.18985C15.6182 6.40432 16.2891 8.01856 16.2885 9.73535C16.287 13.2781 13.3909 16.1604 9.83259 16.1604H9.82998C8.67151 16.16 7.53528 15.8502 6.54406 15.2648L6.30832 15.1256ZM12.0476 10.72C12.2255 10.7845 13.1797 11.2517 13.3738 11.3484C13.4117 11.3673 13.4471 11.3843 13.4799 11.4001C13.6153 11.4652 13.7067 11.5092 13.7457 11.574C13.7942 11.6546 13.7942 12.0413 13.6326 12.4925C13.4708 12.9437 12.6954 13.3555 12.3225 13.4109C11.9882 13.4607 11.565 13.4814 11.1001 13.3344C10.8182 13.2454 10.4568 13.1265 9.99371 12.9275C8.17424 12.1456 6.94465 10.3906 6.71226 10.0589C6.69598 10.0357 6.6846 10.0194 6.67825 10.011L6.67668 10.0089C6.57397 9.87254 5.88577 8.9587 5.88577 8.01292C5.88577 7.12321 6.32491 6.65687 6.52704 6.44222C6.54089 6.42751 6.55363 6.41399 6.56503 6.40159C6.74293 6.20821 6.9532 6.15987 7.08258 6.15987C7.21195 6.15987 7.34148 6.16106 7.45456 6.16671C7.46851 6.16741 7.48302 6.16732 7.49802 6.16723C7.61112 6.16658 7.75213 6.16575 7.89122 6.49827C7.94474 6.62625 8.02304 6.81597 8.10563 7.01607C8.27263 7.42069 8.45715 7.86775 8.48961 7.93245C8.53814 8.02913 8.57048 8.14189 8.50579 8.27085C8.50397 8.27448 8.50217 8.27807 8.5004 8.28163C8.49272 8.29701 8.48549 8.31171 8.47852 8.32587C8.42993 8.42459 8.39419 8.49722 8.31172 8.59304C8.27929 8.63073 8.24577 8.67135 8.21226 8.71197C8.14549 8.79289 8.07872 8.87381 8.02059 8.93145C7.92343 9.02777 7.82228 9.13226 7.9355 9.32564C8.04871 9.51901 8.43822 10.1515 9.01518 10.6637C9.63539 11.2142 10.1744 11.4469 10.4477 11.5649C10.501 11.5879 10.5442 11.6066 10.576 11.6224C10.77 11.7191 10.8832 11.7029 10.9964 11.574C11.1096 11.4451 11.4816 11.01 11.6109 10.8167C11.7403 10.6234 11.8697 10.6556 12.0476 10.72Z"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.83266 17.4659C14.1152 17.4642 17.5983 13.997 17.6 9.73582C17.6008 7.67035 16.7936 5.72819 15.3272 4.2671C13.8607 2.80593 11.9104 2.00089 9.83258 2C5.55127 2 2.06683 5.46758 2.06512 9.72972C2.06454 11.0921 2.42221 12.4219 3.10194 13.5943L2 17.6L6.11761 16.525C7.25212 17.1409 8.52947 17.4655 9.82944 17.4659H9.83266ZM6.30832 15.1256L3.86487 15.7635L4.51707 13.3925L4.36357 13.1495C3.71732 12.1265 3.376 10.9442 3.3765 9.73015C3.37791 6.18767 6.27406 3.30564 9.83513 3.30564C11.5595 3.30623 13.1805 3.97538 14.3994 5.18985C15.6182 6.40432 16.2891 8.01856 16.2885 9.73535C16.287 13.2781 13.3909 16.1604 9.83259 16.1604H9.82998C8.67151 16.16 7.53528 15.8502 6.54406 15.2648L6.30832 15.1256ZM8.47852 8.32587L8.5004 8.28163C8.49272 8.29701 8.48549 8.31171 8.47852 8.32587ZM8.5004 8.28163C8.50039 8.28164 8.5004 8.28161 8.5004 8.28163V8.28163Z"/>
                </svg>
          