extends ../template

include ../mixins/goods-slider.pug

block variables
  - var title = 'Избранное'

block content
  section.fav.margin-section
    .container 
      .page-top 
        h1.h2title.page-top__title Избранное
      .catalog__content 
        .catalog__filters.catalog-filters  
          .catalog-filters__col
            .catalog-filters__item.catalog-filters-item.select
              button.catalog-filters-item__open.select-open
                span Размер
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.46967 9.46967C7.76256 9.17678 8.23744 9.17678 8.53033 9.46967L12 12.9393L15.4697 9.46967C15.7626 9.17678 16.2374 9.17678 16.5303 9.46967C16.8232 9.76256 16.8232 10.2374 16.5303 10.5303L12.5303 14.5303C12.2374 14.8232 11.7626 14.8232 11.4697 14.5303L7.46967 10.5303C7.17678 10.2374 7.17678 9.76256 7.46967 9.46967Z"/>
                </svg>
              ul.catalog-filters-item__content.select-content
                li.catalog-filters-item__option 
                  label
                    input.visually-hidden(type="checkbox" name="filter-sizes")
                    span XS
                li.catalog-filters-item__option 
                  label
                    input.visually-hidden(type="checkbox" name="filter-sizes")
                    span S
                li.catalog-filters-item__option 
                  label
                    input.visually-hidden(type="checkbox" name="filter-sizes")
                    span M
                li.catalog-filters-item__option 
                  label
                    input.visually-hidden(type="checkbox" name="filter-sizes")
                    span L
                li.catalog-filters-item__option 
                  label
                    input.visually-hidden(type="checkbox" name="filter-sizes")
                    span XL
                li.catalog-filters-item__option 
                  label
                    input.visually-hidden(type="checkbox" name="filter-sizes")
                    span XXL
                li.catalog-filters-item__option 
                  label
                    input.visually-hidden(type="checkbox" name="filter-sizes")
                    span XXXL

            .catalog-filters__item.catalog-filters-item.select
              button.catalog-filters-item__open.select-open
                span Стиль
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.46967 9.46967C7.76256 9.17678 8.23744 9.17678 8.53033 9.46967L12 12.9393L15.4697 9.46967C15.7626 9.17678 16.2374 9.17678 16.5303 9.46967C16.8232 9.76256 16.8232 10.2374 16.5303 10.5303L12.5303 14.5303C12.2374 14.8232 11.7626 14.8232 11.4697 14.5303L7.46967 10.5303C7.17678 10.2374 7.17678 9.76256 7.46967 9.46967Z"/>
                </svg>
              ul.catalog-filters-item__content.select-content
                li.catalog-filters-item__option 
                  label
                    input.visually-hidden(type="checkbox" name="filter-sizes")
                    span С карманами
                li.catalog-filters-item__option 
                  label
                    input.visually-hidden(type="checkbox" name="filter-sizes")
                    span Оверсайз
                li.catalog-filters-item__option 
                  label
                    input.visually-hidden(type="checkbox" name="filter-sizes")
                    span С капюшоном
                li.catalog-filters-item__option 
                  label
                    input.visually-hidden(type="checkbox" name="filter-sizes")
                    span Укороченный
                li.catalog-filters-item__option 
                  label
                    input.visually-hidden(type="checkbox" name="filter-sizes")
                    span Облегающий
                li.catalog-filters-item__option 
                  label
                    input.visually-hidden(type="checkbox" name="filter-sizes")
                    span С карманами
                li.catalog-filters-item__option 
                  label
                    input.visually-hidden(type="checkbox" name="filter-sizes")
                    span Оверсайз
                li.catalog-filters-item__option 
                  label
                    input.visually-hidden(type="checkbox" name="filter-sizes")
                    span С капюшоном
                li.catalog-filters-item__option 
                  label
                    input.visually-hidden(type="checkbox" name="filter-sizes")
                    span Укороченный
                li.catalog-filters-item__option 
                  label
                    input.visually-hidden(type="checkbox" name="filter-sizes")
                    span Облегающий

          .catalog-filters__col
            .catalog-filters__num 292 товара
            .catalog-filters__item.catalog-filters-item.select
              button.catalog-filters-item__open.select-open
                span Сортировка
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.46967 9.46967C7.76256 9.17678 8.23744 9.17678 8.53033 9.46967L12 12.9393L15.4697 9.46967C15.7626 9.17678 16.2374 9.17678 16.5303 9.46967C16.8232 9.76256 16.8232 10.2374 16.5303 10.5303L12.5303 14.5303C12.2374 14.8232 11.7626 14.8232 11.4697 14.5303L7.46967 10.5303C7.17678 10.2374 7.17678 9.76256 7.46967 9.46967Z"/>
                </svg>
              ul.catalog-filters-item__content.select-content
                li.catalog-filters-item__option 
                  label
                    input.visually-hidden(type="radio" name="filter-sort" checked)
                    span Новинки
                li.catalog-filters-item__option 
                  label
                    input.visually-hidden(type="radio" name="filter-sort")
                    span Бестселлеры
                li.catalog-filters-item__option 
                  label
                    input.visually-hidden(type="radio" name="filter-sort")
                    span Цена по возрастанию
                li.catalog-filters-item__option 
                  label
                    input.visually-hidden(type="radio" name="filter-sort")
                    span Цена по убыванию
        
        .catalog__mobfilters.catalog-mobfilters
          button.catalog-mobfilters__select 
            span Фильтры
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7.46967 9.46967C7.76256 9.17678 8.23744 9.17678 8.53033 9.46967L12 12.9393L15.4697 9.46967C15.7626 9.17678 16.2374 9.17678 16.5303 9.46967C16.8232 9.76256 16.8232 10.2374 16.5303 10.5303L12.5303 14.5303C12.2374 14.8232 11.7626 14.8232 11.4697 14.5303L7.46967 10.5303C7.17678 10.2374 7.17678 9.76256 7.46967 9.46967Z" fill="#1E1E1E"/>
            </svg>
          button.catalog-mobfilters__select 
            span Сортировка
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7.46967 9.46967C7.76256 9.17678 8.23744 9.17678 8.53033 9.46967L12 12.9393L15.4697 9.46967C15.7626 9.17678 16.2374 9.17678 16.5303 9.46967C16.8232 9.76256 16.8232 10.2374 16.5303 10.5303L12.5303 14.5303C12.2374 14.8232 11.7626 14.8232 11.4697 14.5303L7.46967 10.5303C7.17678 10.2374 7.17678 9.76256 7.46967 9.46967Z" fill="#1E1E1E"/>
            </svg>
          span.catalog-mobfilters__num 292 товара

        ul.fav__list
          -for(i = 0; i < 4; i++)
            li.catalog__item 
              include ../includes/good-card.pug
  section.fav
    .container 
      .page-top 
        .page-top__text 
          p В избранном ничего нет. Предлагаем познакомиться с нашими новинками и хитами продаж
        h1.h2title.page-top__title Избранное
  +goods-slider('Новые поступления')(class="h2title")
  +goods-slider('Бестселлеры')(class="h2title")
