extends ../template

include ../mixins/goods-slider.pug

block variables
  - var title = 'Товар'

block content
  section.goodpage.margin-section
    .container.goodpage__container 
      .goodpage-gallery__wrapper.swiper-container
        ul.goodpage__tags 
          li.goodpage__tag новое
        ul.goodpage__gallery.goodpage-gallery.swiper-wrapper
          li.goodpage-gallery__item.swiper-slide
            a(data-fancybox="good" href="images/good-big.jpg")
              picture.goodpage-gallery__picture
                source(type="image/webp" srcset="images/good.jpg")
                img.goodpage-gallery__img(src="images/good.jpg" alt="Бра «Спорт»")
          li.goodpage-gallery__item.swiper-slide 
            a(data-fancybox="good" href="images/good-big.jpg")
              picture.goodpage-gallery__picture
                source(type="image/webp" srcset="images/good.jpg")
                img.goodpage-gallery__img(src="images/good.jpg" alt="Бра «Спорт»")
          li.goodpage-gallery__item.swiper-slide 
            a(data-fancybox="good" href="images/good-big.jpg")
              picture.goodpage-gallery__picture
                source(type="image/webp" srcset="images/good.jpg")
                img.goodpage-gallery__img(src="images/good.jpg" alt="Бра «Спорт»")
        .swiper-pagination
      .goodpage__content 
        .goodpage__wrap.scroll-block
          .goodpage__socials.goodpage-socials.select
            button.goodpage-socials__btn.select-open
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.3327 21C18.8054 21 19.9993 19.7911 19.9993 18.3C19.9993 16.8088 18.8054 15.6 17.3327 15.6C15.8599 15.6 14.666 16.8088 14.666 18.3C14.666 19.7911 15.8599 21 17.3327 21Z" stroke="#1E1E1E" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M17.3327 8.4C18.8054 8.4 19.9993 7.19117 19.9993 5.7C19.9993 4.20883 18.8054 3 17.3327 3C15.8599 3 14.666 4.20883 14.666 5.7C14.666 7.19117 15.8599 8.4 17.3327 8.4Z" stroke="#1E1E1E" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M6.66667 14.7C8.13943 14.7 9.33333 13.4912 9.33333 12C9.33333 10.5088 8.13943 9.29999 6.66667 9.29999C5.19391 9.29999 4 10.5088 4 12C4 13.4912 5.19391 14.7 6.66667 14.7Z" stroke="#1E1E1E" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M15.1109 7.04999L8.88867 10.65" stroke="#1E1E1E"/>
                <path d="M8.88867 13.35L15.1109 16.95" stroke="#1E1E1E"/>
              </svg>
            .goodpage-socials__list.likely.select-content
              button.goodpage-socials__copy
              button.vkontakte
              button.facebook
              button.telegram
              button.whatsapp
          h1.h2title.goodpage__title Бра «Спортивный спорт»
          .good__row 
            span.good__price 5 000 руб.
            ul.good__colors.good-colors
              li.good-colors__item
                label
                  input.visually-hidden(type="radio" name="good-colors" checked)
                  span(style="background-color: #576BD4;")
              li.good-colors__item
                label
                  input.visually-hidden(type="radio" name="good-colors")
                  span(style="background-color: #E18956;")
              li.good-colors__item
                label
                  input.visually-hidden(type="radio" name="good-colors")
                  span(style="background-color: #7EC270;")
          .goodpage__row
            ul.good-hide__sizes
              li.good-hide__size
                label
                  input.visually-hidden(type="radio" name="good-sizes" checked)
                  span xs
              li.good-hide__size
                label
                  input.visually-hidden(type="radio" name="good-sizes")
                  span s
              li.good-hide__size
                label
                  input.visually-hidden(type="radio" name="good-sizes")
                  span m
              li.good-hide__size
                label
                  input.visually-hidden(type="radio" name="good-sizes")
                  span l
              li.good-hide__size
                label
                  input.visually-hidden(type="radio" name="good-sizes")
                  span xl
              li.good-hide__size
                label
                  input.visually-hidden(type="radio" name="good-sizes")
                  span xxl
            button.goodpage__table(data-fancybox="table" data-src="#table") Таблица размеров
          .goodpage__row
            button.goodpage__buy.primary-btn Добавить в корзину
            button.goodpage__fav 
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M21 9.21086C21 10.5855 20.4656 11.9059 19.5112 12.8825C17.3144 15.1316 15.1837 17.4767 12.9048 19.6442C12.3824 20.1338 11.5537 20.1159 11.0539 19.6042L4.48838 12.8825C2.50387 10.8508 2.50387 7.57087 4.48838 5.53918C6.4924 3.48751 9.75715 3.48751 11.7612 5.53918L11.9998 5.78348L12.2383 5.53931C13.1992 4.55511 14.5078 4 15.8748 4C17.2418 4 18.5503 4.55506 19.5112 5.53918C20.4657 6.51595 21 7.83624 21 9.21086Z" stroke-linejoin="round"/>
              </svg>
            .goodpage__bonus +378 бонусов
          .goodpage__row
            button.goodpage__buy.primary-btn(data-fancybox="subscribe" data-src="#subscribe") Уведомить о поступлении
            button.goodpage__fav 
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M21 9.21086C21 10.5855 20.4656 11.9059 19.5112 12.8825C17.3144 15.1316 15.1837 17.4767 12.9048 19.6442C12.3824 20.1338 11.5537 20.1159 11.0539 19.6042L4.48838 12.8825C2.50387 10.8508 2.50387 7.57087 4.48838 5.53918C6.4924 3.48751 9.75715 3.48751 11.7612 5.53918L11.9998 5.78348L12.2383 5.53931C13.1992 4.55511 14.5078 4 15.8748 4C17.2418 4 18.5503 4.55506 19.5112 5.53918C20.4657 6.51595 21 7.83624 21 9.21086Z" stroke-linejoin="round"/>
              </svg>
            .goodpage__bonus +378 бонусов
          .goodpage__row
            .goodpage__btns.goodpage-btns.primary-btn
              button.goodpage-btns__btn
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M4 10H16" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              input.goodpage-btns__input(type="text" value="1")
              button.goodpage-btns__btn
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M4 10H10M16 10H10M10 10V4M10 10V16" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            button.goodpage__fav 
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M21 9.21086C21 10.5855 20.4656 11.9059 19.5112 12.8825C17.3144 15.1316 15.1837 17.4767 12.9048 19.6442C12.3824 20.1338 11.5537 20.1159 11.0539 19.6042L4.48838 12.8825C2.50387 10.8508 2.50387 7.57087 4.48838 5.53918C6.4924 3.48751 9.75715 3.48751 11.7612 5.53918L11.9998 5.78348L12.2383 5.53931C13.1992 4.55511 14.5078 4 15.8748 4C17.2418 4 18.5503 4.55506 19.5112 5.53918C20.4657 6.51595 21 7.83624 21 9.21086Z" stroke-linejoin="round"/>
              </svg>
            .goodpage__bonus +378 бонусов
          .goodpage__accordion.goodpage-accordion.accordion.accordion--active
            button.goodpage-accordion__open.accordion__open 
            h3.goodpage-accordion__title Описание
            .goodpage-accordion__wrap
              .goodpage-accordion__text.accordion__text 
                .goodpage-accordion__row16
                  p Спортивный костюм из полиэстера высшего качества. Яркий дизайн, подчеркнутый практичными деталями: объемный карман, молния и система регулировки объема нижней части изделия. Предусмотрен сетчатый подклад, а также технология вентиляции с применением люверсов, встроенных в олимпийку и джоггеры, что обеспечивает беспрепятственную циркуляцию воздуха при высокой температуре воздуха. Легкие джоггеры и олимпийка позволят одновременно оставаться стильными и обеспечат чувство комфорта при теплой и ветреной погоде.
                .goodpage-accordion__row
                  .goodpage-accordion__col Артикул
                  .goodpage-accordion__col 2USS3
          .goodpage__accordion.goodpage-accordion.accordion.accordion--active
            button.goodpage-accordion__open.accordion__open 
            h3.goodpage-accordion__title Состав и уход
            .goodpage-accordion__wrap
              .goodpage-accordion__text.accordion__text  
                .goodpage-accordion__row8
                  .goodpage-accordion__col 98%
                  .goodpage-accordion__col Полиэстер
                .goodpage-accordion__row16
                  .goodpage-accordion__col 2%
                  .goodpage-accordion__col Вискоза
                .goodpage-accordion__row
                  p Ручная стирка в холодной воде, сушка на горизонтальной поверхности
          .goodpage__accordion.goodpage-accordion.accordion.accordion--active
            button.goodpage-accordion__open.accordion__open
            h3.goodpage-accordion__title Размер и крой
            .goodpage-accordion__wrap
              .goodpage-accordion__text.accordion__text  
                .goodpage-accordion__row4
                  .goodpage-accordion__col50 Размер на модели
                  .goodpage-accordion__col50 RU 42
                .goodpage-accordion__row4
                  .goodpage-accordion__col50 
                  .goodpage-accordion__col50 EU 34
                .goodpage-accordion__row8
                  .goodpage-accordion__col50 
                  .goodpage-accordion__col50 US 2
                .goodpage-accordion__row
                  .goodpage-accordion__col50 Параметры модели
                  .goodpage-accordion__col50 178/84/60/88
          .goodpage__accordion.goodpage-accordion.accordion.accordion--active
            button.goodpage-accordion__open.accordion__open 
            h3.goodpage-accordion__title Доставка и наличие в магазинах
            .goodpage-accordion__wrap
              .goodpage-accordion__text.accordion__text  
                .goodpage-accordion__row4
                  .goodpage-accordion__col50 Ваш город
                  .goodpage-accordion__col50 
                    button.header__link Санкт-Петербург
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.22456 7.89141C6.46864 7.64733 6.86437 7.64733 7.10845 7.89141L9.99984 10.7828L12.8912 7.89141C13.1353 7.64733 13.531 7.64733 13.7751 7.89141C14.0192 8.13549 14.0192 8.53122 13.7751 8.7753L10.4418 12.1086C10.1977 12.3527 9.80197 12.3527 9.5579 12.1086L6.22456 8.7753C5.98048 8.53122 5.98048 8.13549 6.22456 7.89141Z"/>
                      </svg>
                .goodpage-accordion__row4
                  .goodpage-accordion__col50 
                  .goodpage-accordion__col50.goodpage-accordion__small Бесплатная доставка от 
                    b 10 000 руб.
                .goodpage-accordion__row16
                  .goodpage-accordion__col50 
                  .goodpage-accordion__col50.goodpage-accordion__small Доставит 
                    b CДЭК
                .goodpage-accordion__row8
                  .goodpage-accordion__col50 Смольный, 17
                  .goodpage-accordion__col50 в наличии 3 шт.
                .goodpage-accordion__row
                  .goodpage-accordion__col50 На сайте
                  .goodpage-accordion__col50 в наличии 10 шт.
          .goodpage__accordion.goodpage-accordion.accordion.accordion--active
            button.goodpage-accordion__open.accordion__open 
            h3.goodpage-accordion__title Задать вопрос о товаре
            .goodpage-accordion__wrap
              .goodpage-accordion__text.accordion__text 
                ul.goodpage-accordion__socials
                  li.goodpage-accordion__social
                    a(href="#")
                      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.0592 20.2014C17.0592 20.2014 17.357 20.1689 17.5095 20.0081C17.6491 19.8608 17.6443 19.5827 17.6443 19.5827C17.6443 19.5827 17.6257 18.2843 18.2398 18.0926C18.8451 17.9041 19.6223 19.3482 20.447 19.9035C21.0701 20.3234 21.543 20.2315 21.543 20.2315L23.7469 20.2014C23.7469 20.2014 24.8993 20.1317 24.353 19.2421C24.3078 19.1692 24.0342 18.5838 22.7148 17.3813C21.3323 16.1225 21.5179 16.3261 23.182 14.1485C24.1956 12.8224 24.6007 12.0128 24.474 11.6666C24.3538 11.3355 23.6081 11.4234 23.6081 11.4234L21.1273 11.4385C21.1273 11.4385 20.9434 11.4139 20.807 11.4939C20.6738 11.5723 20.5875 11.7553 20.5875 11.7553C20.5875 11.7553 20.1952 12.7812 19.6715 13.6541C18.5667 15.4951 18.1253 15.5926 17.9445 15.4785C17.524 15.2115 17.6289 14.4075 17.6289 13.8363C17.6289 12.0516 17.9049 11.3078 17.0923 11.1153C16.8227 11.0511 16.6242 11.0091 15.9342 11.002C15.0489 10.9933 14.3 11.0052 13.8755 11.2087C13.5931 11.3442 13.3752 11.6468 13.5083 11.6642C13.6721 11.6856 14.0434 11.7625 14.2403 12.0255C14.4945 12.3653 14.4856 13.1274 14.4856 13.1274C14.4856 13.1274 14.6317 15.2282 14.1442 15.4888C13.8101 15.6678 13.3518 15.3026 12.3664 13.632C11.862 12.7764 11.4811 11.8306 11.4811 11.8306C11.4811 11.8306 11.4077 11.6539 11.2761 11.5589C11.1171 11.444 10.8952 11.4084 10.8952 11.4084L8.53791 11.4234C8.53791 11.4234 8.18363 11.4329 8.0537 11.5842C7.93829 11.7181 8.04482 11.9961 8.04482 11.9961C8.04482 11.9961 9.89047 16.235 11.9806 18.3715C13.8973 20.3297 16.073 20.2014 16.073 20.2014H17.0592Z"/>
                      </svg> 
                  li.goodpage-accordion__social
                    a(href="#")
                      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.2683 17.8564L14.018 21.607C14.3858 21.607 14.5483 21.4387 14.7536 21.2391L16.5209 19.5207L20.1976 22.2371C20.8742 22.6104 21.3626 22.4171 21.5311 21.6089L23.9448 10.235C24.1919 9.24425 23.5671 8.7949 22.9198 9.08878L8.74706 14.5537C7.77963 14.9418 7.78527 15.4815 8.57071 15.722L12.2078 16.8572L20.6279 11.545C21.0254 11.3039 21.3902 11.4335 21.0908 11.6993L14.2681 17.8562L14.2683 17.8564Z"/>
                      </svg>
                  li.goodpage-accordion__social
                    a(href="#")
                      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.3083 21.1256L9.86487 21.7635L10.5171 19.3925L10.3636 19.1495C9.71732 18.1265 9.376 16.9442 9.3765 15.7301C9.37791 12.1877 12.2741 9.30564 15.8351 9.30564C17.5595 9.30623 19.1805 9.97538 20.3994 11.1899C21.6182 12.4043 22.2891 14.0186 22.2885 15.7354C22.287 19.2781 19.3909 22.1604 15.8326 22.1604H15.83C14.6715 22.16 13.5353 21.8502 12.5441 21.2648L12.3083 21.1256ZM18.0476 16.72C18.2255 16.7845 19.1797 17.2517 19.3738 17.3484C19.4117 17.3673 19.4471 17.3843 19.4799 17.4001C19.6153 17.4652 19.7067 17.5092 19.7457 17.574C19.7942 17.6546 19.7942 18.0413 19.6326 18.4925C19.4708 18.9437 18.6954 19.3555 18.3225 19.4109C17.9882 19.4607 17.565 19.4814 17.1001 19.3344C16.8182 19.2454 16.4568 19.1265 15.9937 18.9275C14.1742 18.1456 12.9447 16.3906 12.7123 16.0589C12.696 16.0357 12.6846 16.0194 12.6782 16.011L12.6767 16.0089C12.574 15.8725 11.8858 14.9587 11.8858 14.0129C11.8858 13.1232 12.3249 12.6569 12.527 12.4422C12.5409 12.4275 12.5536 12.414 12.565 12.4016C12.7429 12.2082 12.9532 12.1599 13.0826 12.1599C13.2119 12.1599 13.3415 12.1611 13.4546 12.1667C13.4685 12.1674 13.483 12.1673 13.498 12.1672C13.6111 12.1666 13.7521 12.1658 13.8912 12.4983C13.9447 12.6262 14.023 12.816 14.1056 13.0161C14.2726 13.4207 14.4571 13.8678 14.4896 13.9324C14.5381 14.0291 14.5705 14.1419 14.5058 14.2709C14.504 14.2745 14.5022 14.2781 14.5004 14.2816C14.4927 14.297 14.4855 14.3117 14.4785 14.3259C14.4299 14.4246 14.3942 14.4972 14.3117 14.593C14.2793 14.6307 14.2458 14.6713 14.2123 14.712C14.1455 14.7929 14.0787 14.8738 14.0206 14.9315C13.9234 15.0278 13.8223 15.1323 13.9355 15.3256C14.0487 15.519 14.4382 16.1515 15.0152 16.6637C15.6354 17.2142 16.1744 17.4469 16.4477 17.5649C16.501 17.5879 16.5442 17.6066 16.576 17.6224C16.77 17.7191 16.8832 17.7029 16.9964 17.574C17.1096 17.4451 17.4816 17.01 17.6109 16.8167C17.7403 16.6234 17.8697 16.6556 18.0476 16.72Z"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M15.8327 23.4659C20.1152 23.4642 23.5983 19.997 23.6 15.7358C23.6008 13.6703 22.7936 11.7282 21.3272 10.2671C19.8607 8.80593 17.9104 8.00089 15.8326 8C11.5513 8 8.06683 11.4676 8.06512 15.7297C8.06454 17.0921 8.42221 18.4219 9.10194 19.5943L8 23.6L12.1176 22.525C13.2521 23.1409 14.5295 23.4655 15.8294 23.4659H15.8327ZM12.3083 21.1256L9.86487 21.7635L10.5171 19.3925L10.3636 19.1495C9.71732 18.1265 9.376 16.9442 9.3765 15.7301C9.37791 12.1877 12.2741 9.30564 15.8351 9.30564C17.5595 9.30623 19.1805 9.97538 20.3994 11.1899C21.6182 12.4043 22.2891 14.0186 22.2885 15.7354C22.287 19.2781 19.3909 22.1604 15.8326 22.1604H15.83C14.6715 22.16 13.5353 21.8502 12.5441 21.2648L12.3083 21.1256ZM14.4785 14.3259L14.5004 14.2816C14.4927 14.297 14.4855 14.3117 14.4785 14.3259ZM14.5004 14.2816C14.5004 14.2816 14.5004 14.2816 14.5004 14.2816V14.2816Z"/>
                      </svg>

  +goods-slider('С этим товаром покупают')(class="h1title")