extends ../template

include ../mixins/goods-slider.pug

block variables
  - var title = 'Главная'
  - var breadcrumbs = 0
  - var headerAbsolut = 1
  - var subscribe = 1

block content
  h1.visually-hidden Levitacia
  section.banner.margin-section 
    h2.visually-hidden Новая коллекция
    picture
      source(media="(min-width: 1024px)" type="image/webp" srcset="images/banner-main.webp")
      source(media="(min-width: 0px)" type="image/webp" srcset="images/banner-main-tablet.webp")
      source(media="(min-width: 1024px)" srcset="images/banner-main.jpg")
      source(media="(min-width: 0px)" srcset="images/banner-main-tablet.jpg")
      img.banner__img(src="images/banner-main.jpg" alt="Новая коллекция")
    a.banner__btn(href="#") Новая коллекция
  section.collections#collections.margin-section 
    h2.visually-hidden Коллекции
    .container.collections__container
      .collections__col 
        picture.collections__picture
          source(type="image/webp" srcset="images/collections1.jpg")
          img.collections__img(src="images/collections1.jpg" alt="коллекция стрит")
      .collections__col 
        picture.collections__picture
          source(type="image/webp" srcset="images/collections2.jpg")
          img.collections__img(src="images/collections2.jpg" alt="коллекция стрит")
        .collections__col
          h3.collections__title коллекция 
            a(href="#") стрит
      .collections__col 
        p.collections__text В выборе одежды главными ориентирами для нас остаются комфорт и функциональность. Качество наших материвалов позволяет вещам оставаться в гардеробе длительное время
        .collections__col
          a.collections__link(href="#") о компании
      .collections__col 
        picture.collections__picture
          source(type="image/webp" srcset="images/collections1.jpg")
          img.collections__img(src="images/collections1.jpg" alt="коллекция концепт")
        h3.collections__title коллекция 
          a(href="#") концепт
      .collections__col 
        picture.collections__picture
          source(type="image/webp" srcset="images/collections3.jpg")
          img.collections__img(src="images/collections3.jpg" alt="женская коллекция")
        h3.collections__title 
          a(href="#") женская
          |  коллекция

  +goods-slider('Новые поступления')(class="h1title")

  +goods-slider('Бестселлеры')(class="h1title")

  section.about.margin-section
    .container.about__container
      h2.visually-hidden О нашей одежде
      .about__col
        picture.about__picture
          source(type="image/webp" srcset="images/about1.jpg")
          img.about__img(src="images/about1.jpg" alt="О нашей одежде")
      .about__col
        p.about__text В нашей одежде мы говорим о её агендерности и стираем границы между мужским и женским гардеробами
        picture.about__picture
          source(type="image/webp" srcset="images/about2.jpg")
          img.about__img(src="images/about2.jpg" alt="О нашей одежде")