extends ../template

block variables
  - var title = 'Текстовая страница'

block content
  section.text.margin-section
    .container 
      .page-top 
        .page-top__text 
          p Если у вас остались вопросы, позвоните нам на номер <a href="tel:88003502028"><b>+7 800 350–20–28</b></a> или напишите на <a href="mailto:info@levitacia.co"><b>info@levitacia.co</b></a>
        h1.h2title.page-top__title Текстовая страница
      .text__wrap
        nav.text__nav.text-nav
          ul.text-nav__list
            li.text-nav__item 
              a.text-nav__link.text-nav__link--active(href="#") Программа лояльности
            li.text-nav__item 
              a.text-nav__link(href="#") Оплата и возврат
            li.text-nav__item 
              a.text-nav__link(href="#") Доставка
            li.text-nav__item 
              a.text-nav__link(href="#") Контакты
        .text__content
          h2.text__title Сроки формирования и отправки заказов
          ul
            li — Заказы, оплаченные с понедельника по пятницу до 15-00 часов дня, отправляются в день заказа.
            li — Заказы, оплаченные после 15-00 дня с понедельника по пятницу, отправляются на следующий день, за исключением выходных и праздничных дней.
            li — Заказы, оплаченные в выходной или праздничный день, отправляются в первый рабочий день календаря следующий за днем оплаты.
            li — Заказы, оплаченные из-за границы, отправляются каждую среду.
          .text__tabs.tabs
            ul.text__navigation.text-navigation
              li.text-navigation__item 
                button.text-navigation__btn.tabs__btn.tabs__btn--active(data-tab="1") Стандартная доставка по России
              li.text-navigation__item 
                button.text-navigation__btn.tabs__btn(data-tab="2") В Казахстан и Беларусь
              li.text-navigation__item 
                button.text-navigation__btn.tabs__btn(data-tab="3") На Украину
              li.text-navigation__item 
                button.text-navigation__btn.tabs__btn(data-tab="4") Доставка по всему миру (worldwide shipping)
            .text__block.tabs__block.tabs__block--active(data-tab="1")
              p Будьте резидентом клуба USHATÁVA и получайте бонусы!
              p Зарегистрируйтесь в программе, совершив покупку на любую сумму в одном из магазинов или онлайн.
              p Если вы совершаете покупку online, при оформлении заказа поставьте галочку напротив пункта «Стать членом клуба USHATÁVA».
              h2.text__title Как тратить накопленные бонусы
              p Чтобы потратить бонусы в магазине, просто назовите ваш номер телефона стилисту в магазине. Чтобы потратить бонусы на ushatava.com, войдите в личный кабинет. При оформлении заказа нажмите на кнопку списать бонусы. И выберите желаемое количество бонусов. Вы можете оплатить бонусами всю покупку, кроме 1 рубля.
              h2.text__title Больше покупок — больше бонусов
            .text__block.tabs__block(data-tab="2")
              p Будьте резидентом клуба USHATÁVA и получайте бонусы!
              p Зарегистрируйтесь в программе, совершив покупку на любую сумму в одном из магазинов или онлайн.
              p Если вы совершаете покупку online, при оформлении заказа поставьте галочку напротив пункта «Стать членом клуба USHATÁVA».
              p Чтобы потратить бонусы в магазине, просто назовите ваш номер телефона стилисту в магазине. Чтобы потратить бонусы на ushatava.com, войдите в личный кабинет. При оформлении заказа нажмите на кнопку списать бонусы. И выберите желаемое количество бонусов. Вы можете оплатить бонусами всю покупку, кроме 1 рубля.
            .text__block.tabs__block(data-tab="3")
            .text__block.tabs__block(data-tab="4")

        .text__col 
          aside.text__aside.text-aside 
            p.text-aside__text Оплата банковскими картами — через АО «АЛЬФА-БАНК»
            ul.text-aside__list 
              li.text-aside__item 
                <svg width="40" height="24" viewBox="0 0 40 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16.8995 18.6024H13.7402L15.7163 6.2244H18.8754L16.8995 18.6024Z" fill="#00579F"/>
                  <path d="M28.352 6.52698C27.7288 6.27653 26.7405 6 25.5183 6C22.3985 6 20.2015 7.68543 20.188 10.0951C20.1621 11.8729 21.761 12.8604 22.9568 13.4532C24.1791 14.0589 24.5946 14.4543 24.5946 14.9942C24.5822 15.8235 23.6069 16.2057 22.6973 16.2057C21.436 16.2057 20.7602 16.0086 19.7331 15.5473L19.3171 15.3495L18.875 18.1281C19.616 18.4701 20.9811 18.7736 22.3985 18.7869C25.7134 18.7869 27.8715 17.1275 27.8971 14.5597C27.9097 13.1506 27.0654 12.0709 25.2452 11.1886C24.1402 10.6223 23.4635 10.2404 23.4635 9.66087C23.4765 9.13407 24.0359 8.59448 25.2832 8.59448C26.3103 8.56805 27.0649 8.81816 27.6366 9.06843L27.9223 9.19987L28.352 6.52698Z" fill="#00579F"/>
                  <path d="M32.552 14.2173C32.8122 13.5062 33.8133 10.7541 33.8133 10.7541C33.8002 10.7805 34.073 10.0298 34.229 9.56901L34.4498 10.6356C34.4498 10.6356 35.048 13.5985 35.1779 14.2173C34.6842 14.2173 33.176 14.2173 32.552 14.2173ZM36.4517 6.2244H34.008C33.2544 6.2244 32.6819 6.44807 32.3568 7.25141L27.6641 18.6023H30.979C30.979 18.6023 31.5247 17.0745 31.642 16.7455C32.0057 16.7455 35.2305 16.7455 35.6983 16.7455C35.789 17.1801 36.0753 18.6023 36.0753 18.6023H39.0004L36.4517 6.2244Z" fill="#00579F"/>
                  <path d="M11.1027 6.2244L8.00873 14.665L7.67064 12.9532C7.09863 10.9779 5.30468 8.83183 3.30273 7.76474L6.1367 18.5893H9.47755L14.4434 6.2244H11.1027Z" fill="#00579F"/>
                  <path d="M5.13496 6.2244H0.0520007L0 6.4745C3.96503 7.50168 6.59099 9.97768 7.66988 12.9537L6.5649 7.26488C6.38299 6.47432 5.82393 6.25047 5.13496 6.2244Z" fill="#FAA61A"/>
                </svg>
              li.text-aside__item 
                <svg width="40" height="24" viewBox="0 0 40 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.2231 20.9602V19.7655C12.2231 19.3075 11.9443 19.0088 11.4663 19.0088C11.2273 19.0088 10.9684 19.0885 10.7891 19.3473C10.6497 19.1283 10.4505 19.0088 10.1517 19.0088C9.95256 19.0088 9.75339 19.0686 9.59405 19.2876V19.0487H9.17578V20.9602H9.59405V19.9049C9.59405 19.5664 9.7733 19.4071 10.0521 19.4071C10.331 19.4071 10.4704 19.5863 10.4704 19.9049V20.9602H10.8887V19.9049C10.8887 19.5664 11.0879 19.4071 11.3468 19.4071C11.6256 19.4071 11.7651 19.5863 11.7651 19.9049V20.9602H12.2231ZM18.4175 19.0487H17.7403V18.4712H17.322V19.0487H16.9436V19.427H17.322V20.3031C17.322 20.7411 17.5013 21 17.9793 21C18.1586 21 18.3577 20.9403 18.4971 20.8606L18.3776 20.5022C18.2581 20.5818 18.1187 20.6018 18.0191 20.6018C17.82 20.6018 17.7403 20.4823 17.7403 20.2832V19.427H18.4175V19.0487ZM21.9628 19.0088C21.7238 19.0088 21.5644 19.1283 21.4648 19.2876V19.0487H21.0466V20.9602H21.4648V19.8849C21.4648 19.5664 21.6043 19.3872 21.8632 19.3872C21.9429 19.3872 22.0425 19.4071 22.1221 19.427L22.2416 19.0287C22.162 19.0088 22.0425 19.0088 21.9628 19.0088ZM16.605 19.2079C16.4058 19.0686 16.127 19.0088 15.8282 19.0088C15.3502 19.0088 15.0315 19.2478 15.0315 19.6261C15.0315 19.9447 15.2705 20.1239 15.6888 20.1836L15.888 20.2035C16.1071 20.2433 16.2266 20.3031 16.2266 20.4026C16.2266 20.542 16.0672 20.6416 15.7884 20.6416C15.5095 20.6416 15.2904 20.542 15.151 20.4425L14.9518 20.7611C15.1709 20.9203 15.4697 21 15.7685 21C16.3261 21 16.6448 20.7411 16.6448 20.3827C16.6448 20.0442 16.3859 19.865 15.9875 19.8053L15.7884 19.7854C15.6091 19.7655 15.4697 19.7256 15.4697 19.6062C15.4697 19.4668 15.6091 19.3872 15.8282 19.3872C16.0672 19.3872 16.3062 19.4867 16.4257 19.5464L16.605 19.2079ZM27.7189 19.0088C27.4799 19.0088 27.3206 19.1283 27.221 19.2876V19.0487H26.8027V20.9602H27.221V19.8849C27.221 19.5664 27.3604 19.3872 27.6193 19.3872C27.699 19.3872 27.7986 19.4071 27.8783 19.427L27.9978 19.0287C27.9181 19.0088 27.7986 19.0088 27.7189 19.0088ZM22.3811 20.0044C22.3811 20.5818 22.7794 21 23.3968 21C23.6757 21 23.8749 20.9403 24.074 20.781L23.8749 20.4425C23.7155 20.5619 23.5562 20.6217 23.3769 20.6217C23.0383 20.6217 22.7993 20.3827 22.7993 20.0044C22.7993 19.646 23.0383 19.4071 23.3769 19.3872C23.5562 19.3872 23.7155 19.4469 23.8749 19.5664L24.074 19.2279C23.8749 19.0686 23.6757 19.0088 23.3968 19.0088C22.7794 19.0088 22.3811 19.427 22.3811 20.0044ZM26.245 20.0044V19.0487H25.8268V19.2876C25.6874 19.1084 25.4882 19.0088 25.2293 19.0088C24.6915 19.0088 24.2732 19.427 24.2732 20.0044C24.2732 20.5818 24.6915 21 25.2293 21C25.5081 21 25.7073 20.9004 25.8268 20.7212V20.9602H26.245V20.0044ZM24.7114 20.0044C24.7114 19.6659 24.9305 19.3872 25.289 19.3872C25.6276 19.3872 25.8666 19.646 25.8666 20.0044C25.8666 20.3429 25.6276 20.6217 25.289 20.6217C24.9305 20.6018 24.7114 20.3429 24.7114 20.0044ZM19.7121 19.0088C19.1544 19.0088 18.7561 19.4071 18.7561 20.0044C18.7561 20.6018 19.1544 21 19.732 21C20.0109 21 20.2897 20.9203 20.5088 20.7411L20.3096 20.4425C20.1503 20.5619 19.9511 20.6416 19.752 20.6416C19.493 20.6416 19.2341 20.5221 19.1743 20.1836H20.5885C20.5885 20.1239 20.5885 20.0841 20.5885 20.0243C20.6084 19.4071 20.2499 19.0088 19.7121 19.0088ZM19.7121 19.3672C19.971 19.3672 20.1503 19.5265 20.1901 19.8252H19.1943C19.2341 19.5664 19.4134 19.3672 19.7121 19.3672ZM30.0891 20.0044V18.292H29.6708V19.2876C29.5314 19.1084 29.3322 19.0088 29.0733 19.0088C28.5355 19.0088 28.1173 19.427 28.1173 20.0044C28.1173 20.5818 28.5355 21 29.0733 21C29.3522 21 29.5513 20.9004 29.6708 20.7212V20.9602H30.0891V20.0044ZM28.5555 20.0044C28.5555 19.6659 28.7746 19.3872 29.1331 19.3872C29.4717 19.3872 29.7107 19.646 29.7107 20.0044C29.7107 20.3429 29.4717 20.6217 29.1331 20.6217C28.7746 20.6018 28.5555 20.3429 28.5555 20.0044ZM14.5734 20.0044V19.0487H14.1551V19.2876C14.0157 19.1084 13.8165 19.0088 13.5576 19.0088C13.0199 19.0088 12.6016 19.427 12.6016 20.0044C12.6016 20.5818 13.0199 21 13.5576 21C13.8365 21 14.0356 20.9004 14.1551 20.7212V20.9602H14.5734V20.0044ZM13.0198 20.0044C13.0198 19.6659 13.2389 19.3872 13.5975 19.3872C13.936 19.3872 14.1751 19.646 14.1751 20.0044C14.1751 20.3429 13.936 20.6217 13.5975 20.6217C13.2389 20.6018 13.0198 20.3429 13.0198 20.0044Z" fill="black"/>
                  <path d="M22.7388 4.53317H16.4648V15.8031H22.7388V4.53317Z" fill="#FF5F00"/>
                  <path d="M16.8633 10.1682C16.8633 7.87833 17.9388 5.84735 19.592 4.53319C18.377 3.57744 16.8433 3 15.1703 3C11.2067 3 8 6.20576 8 10.1682C8 14.1305 11.2067 17.3363 15.1703 17.3363C16.8433 17.3363 18.377 16.7589 19.592 15.8031C17.9388 14.5089 16.8633 12.458 16.8633 10.1682Z" fill="#EB001B"/>
                  <path d="M31.2033 10.1682C31.2033 14.1305 27.9966 17.3363 24.033 17.3363C22.3599 17.3363 20.8263 16.7589 19.6113 15.8031C21.2844 14.489 22.34 12.458 22.34 10.1682C22.34 7.87833 21.2645 5.84735 19.6113 4.53319C20.8263 3.57744 22.3599 3 24.033 3C27.9966 3 31.2033 6.22567 31.2033 10.1682Z" fill="#F79E1B"/>
                </svg>
              li.text-aside__item 
                <svg width="40" height="24" viewBox="0 0 40 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M4.60645 7.00182C4.95488 6.99973 5.99036 6.90647 6.42898 8.38679C6.72443 9.38395 7.19507 11.0173 7.8409 13.287H8.10392C8.79651 10.8942 9.27229 9.26077 9.53125 8.38679C9.97443 6.89105 11.0824 7.00184 11.5256 7.00184L14.9448 7.00185V17.6382H11.4598V11.37H11.2261L9.28342 17.6382H6.6614L4.71869 11.3654H4.485V17.6382H1V7.00185L4.60645 7.00182ZM19.9492 7.00185V13.2747H20.2272L22.5904 8.11658C23.0491 7.0901 24.0268 7.00185 24.0268 7.00185H27.3992V17.6382H23.8414V11.3654H23.5634L21.2466 16.5235C20.7879 17.5453 19.7639 17.6382 19.7639 17.6382H16.3914V7.00185H19.9492ZM39.6965 12.0563C39.2002 13.4626 37.6417 14.4698 35.9162 14.4698H32.1852V17.6382H28.802V12.0563H39.6965Z" fill="#0F754E"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M36.0799 7.00186H28.625C28.8024 9.36988 30.8417 11.3971 32.9528 11.3971H39.932C40.3348 9.42895 38.9483 7.00186 36.0799 7.00186Z" fill="url(#paint0_linear)"/>
                  <defs>
                  <linearGradient id="paint0_linear" x1="40.0004" y1="9.76663" x2="28.625" y2="9.76663" gradientUnits="userSpaceOnUse">
                  <stop stop-color="#1F5CD7"/>
                  <stop offset="1" stop-color="#02AEFF"/>
                  </linearGradient>
                  </defs>
                </svg>
