.goodpage {
  &__container {
    display: grid;
    grid-template-columns: 43.52% 1fr;
    grid-gap: 7.3%;
    @include w1200 {
      grid-gap: 24px;
    }
    @include w1023 {
      display: block;
    }
  }
  &__gallery {
    padding-left: 0;
    list-style: none;
    @media screen and (min-width: 1024px) {
      display: block;
      height: auto;
    }
    @include w1023 {
      height: 768px;
    }
    @include w767 {
      height: 360px;
    }
  }
  &-gallery {
    &__wrapper {
      @media screen and (min-width: 1024px) {
        margin: 0;
      }
      @include w1023 {
        margin-bottom: 40px;
        transform: translateX(-24px);
        width: 100vw;
        @include w767 {
          transform: translateX(-16px);
          margin-top: 9px;
        }
      }
    }
    &__item {
      &:not(:last-child) {
        margin-bottom: 27px;
      }
      a {
        @include hover {
          &:hover .goodpage-gallery__img,
          &:focus .goodpage-gallery__img {
            transform: scale(1.05);
          }
        }
        @include active {
          &:active .goodpage-gallery__img {
            transform: scale(1.05);
          }
        }
      }
    }
    &__picture {
      position: relative;
      display: block;
      overflow: hidden;
      @include w1023 {
        height: 100%;
      }
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.22);
        mix-blend-mode: soft-light;
        pointer-events: none;
      }
    }
    &__img {
      width: 100%;
      transition: transform 0.3s;
      -webkit-backface-visibility: hidden;
      @include w1023 {
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &__content {
    position: relative;
    .good__row {
      margin-bottom: 31px;
    }
    .good__price {
      margin-right: 27px;
      font-family: 'Giga Sans';
      font-size: 22px;
      line-height: 28px;
      letter-spacing: -0.02em;
      @include w767 {
        font-size: 19px;
        line-height: 28px;
      }
    }
    .good-hide__size {
      &:not(:last-child) {
        margin-right: 7px;
      }
      span {
        width: 33px;
        padding: 4px 0;
        font-size: 14px;
        line-height: 20px;
      }
    }
    .good-hide__sizes {
      @include w767 {
        width: 100%;
      }
    }
  }
  &__wrap {
    position: sticky;
    top: 24px;
  }
  &__tags {
    position: absolute;
    top: 12px;
    left: 10px;
    z-index: 2;
    padding-left: 0;
    list-style: none;
    @include w1023 {
      top: 16px;
      left: 24px;
    }
    @include w767 {
      left: 16px;
    }
  }
  &__tag {
    font-size: 14px;
    line-height: 20px;
    color: var(--black-900);
  }
  &__socials {
    position: absolute;
    right: 0;
    @include w1023 {
      right: 2px;
      top: 2px;
    }
  }
  &-socials {
    &__btn {
      display: flex;
      padding: 6px;
      background: var(--white-text-on-black);
      border: none;
      border-radius: 2px;
      cursor: pointer;
      border: 1px solid transparent;
      transition: 0.2s;
      @include hover {
        &:hover,
        &:focus {
          background: var(--white-blurred);
          border: 1px solid var(--black-100);
        }
      }
      @include active {
        &:active {
          background: var(--white-blurred);
          border: 1px solid var(--black-100);
        }
      }
    }
    &__list {
      position: absolute;
      z-index: 2;
      top: calc(100% + 4px);
      right: 0;
      display: flex;
      margin: 0;
      background: var(--white-on-grey-bg);
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
      border-radius: 2px;
      button {
        width: 48px;
        height: 48px;
        padding: 0;
        border: none;
        margin: 0;
        transition: opacity 0.2s, background-color 0.2s;
        cursor: pointer;
        @include hover {
          &:hover {
            opacity: 0.6;
          }
          &:focus {
            background-color: var(--white-blurred) !important;
          }
        }
        @include active {
          &:active {
            background-color: var(--white-blurred) !important;
          }
        }
        &.goodpage-socials__copy {
          background: url('../images/icon-social-copy.svg') center no-repeat;
          &.active {
            background-image: url('../images/icon-social-copy-ok.svg');
            background-color: var(--white-blurred);
          }
        }
        &.likely__widget_vkontakte {
          background: url('../images/icon-social-vk.svg') center no-repeat;
        }
        &.likely__widget_facebook {
          background: url('../images/icon-social-fb.svg') center no-repeat;
        }
        &.likely__widget_telegram {
          background: url('../images/icon-social-tg.svg') center no-repeat;
        }
        &.likely__widget_whatsapp {
          background: url('../images/icon-social-wa.svg') center no-repeat;
        }
        span {
          display: none;
        }
      }
    }
  }
  &__title {
    margin-bottom: 33px;
    @include w767 {
      margin-bottom: 24px;
      padding-right: 51px;
      font-size: 22px;
      line-height: 28px;
      letter-spacing: -0.02em;
    }
  }
  &__row {
    display: flex;
    align-items: center;
    margin-bottom: 31px;
    flex-wrap: wrap;
  }
  &__table {
    position: relative;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 1px;
    background: none;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.01em;
    text-transform: lowercase;
    color: var(--black-800);
    cursor: pointer;
    @include w767 {
      margin: 0;
      margin-top: 13px;
    }
    @include hover {
      &:hover:before,
      &:focus:before {
        left: auto;
        right: 0;
        width: 0;
      }
    }
    @include active {
      &:active:before {
        left: auto;
        right: 0;
        width: 0;
      }
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background: currentColor;
      transition: 0.2s;
    }
  }
  &__buy {
    padding: 7px 0px;
    width: 260px;
    @include w767 {
      width: auto;
      flex: 1;
    }
  }
  &__fav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-left: 16px;
    background: var(--white-text-on-black);
    border: 1px solid transparent;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.2s;
    @include hover {
      &:hover {
        border-color: var(--black-100);
        background: var(--white-blurred);
      }
      &:focus {
        border-color: var(--black-100);
        background: var(--white-text-on-black);
      }
    }
    @include active {
      &:active {
        border-color: var(--black-100);
        background: var(--white-text-on-black);
      }
    }
    path {
      stroke: var(--black-primary);
    }
  }
  &__bonus {
    margin-left: 46px;
    font-size: 14px;
    line-height: 20px;
    color: var(--black-800);
    @include w767 {
      width: 100%;
      margin-top: 14px;
      margin-left: 0;
    }
  }
  &__btns {
    display: flex;
    align-self: stretch;
    width: 260px;
    @include w767 {
      width: auto;
      flex: 1;
    }
  }
  &-btns {
    &__btn {
      padding: 0 24px;
      background: none;
      border: none;
      cursor: pointer;
      path {
        stroke: var(--white-text-on-black);
      }
    }
    &__input {
      flex: 1;
      width: 40px;
      background: transparent;
      border: navajowhite;
      font-weight: normal;
      font-size: 17px;
      line-height: 24px;
      text-align: center;
      color: var(--white-text-on-black);
    }
  }
  &__accordion {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: 16px 38px 15px 0px;
    margin-top: 48px;
    margin-right: 72px;
    @include w1200 {
      margin-right: 0;
    }
    @include w767 {
      display: block;
      padding: 20px 0;
    }
    & ~ & {
      margin-top: 0;
    }
    &:not(:last-child) {
      border-bottom: 1px solid var(--black-100);
    }
    &.accordion--active {
      .goodpage-accordion__open:before {
        transform: translate(-50%, -50%) rotate(0deg);
      }
    }
  }
  &-accordion {
    &__open {
      position: absolute;
      right: -8px;
      top: 10px;
      @include w767 {
        top: 15px;
      }
    }
    &__title {
      flex: 0 0 123px;
      margin: 0 22px 0 0;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.01em;
      color: var(--black-900);
      @include w1023 {
        flex: 0 0 164px;
      }
    }
    &__wrap {
      position: relative;
      flex: 1;
    }
    &__text {
      width: 100%;
      font-size: 14px;
      line-height: 20px;
      color: var(--black-900);
      > *:first-child {
        @include w767 {
          margin-top: 14px;
        }
      }
    }
    &__row,
    &__row4,
    &__row8,
    &__row16 {
      display: flex;
    }
    &__row4 {
      margin-bottom: 4px;
    }
    &__row8 {
      margin-bottom: 8px;
    }
    &__row16 {
      margin-bottom: 16px;
    }
    &__col {
      margin-right: 8px;
      &:first-child {
        color: var(--black-700);
      }
    }
    &__col50 {
      flex: 0 0 48.5%;
      @include w767 {
        flex: 0 0 50%;
      }
      &:first-child {
        color: var(--black-700);
      }
    }
    &__small {
      font-size: 12px;
      line-height: 16px;
    }
    &__socials {
      display: flex;
      padding-left: 0;
      list-style: none;
    }
    &__social {
      a {
        display: flex;
        @include hover {
          &:hover,
          &:focus {
            path {
              fill: var(--black-500);
            }
          }
        }
        @include active {
          &:active {
            path {
              fill: var(--black-500);
            }
          }
        }
      }
      path {
        fill: var(--black-800);
        transition: fill 0.2s;
      }
      &:not(:last-child) {
        margin-right: 24px;
      }
    }
  }
}
